.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
    background-color: black;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: linear-gradient(rgba(236, 210, 63, 0.966), rgba(168, 147, 27, 0.966)); 
    padding: 0 3rem;
}

.about{
    display: flex;
    flex-direction: column;
    border: 0.2rem solid black;
    padding: 0 0.2rem;
}

.none{
    display: none;
}

.name{
    display: flex;
    width: 500px;
    margin: 0 auto;
    justify-content: center;
}

.name__text{
    font-size: 2.5rem;
    margin-top: 5vh;
}

.name__text:hover{
    transform: scale(1.4);
    transition: 0.5s cubic-bezier(0,1.74,1,-1.14);
}

.buttons{
    display: flex;
    width: 500px;
    margin: auto;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20vh;
}

.button{
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
}

.button:active{
    transform: scale(0.8);
}

.photo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.photo__img{
    margin-top: 15vh;
    height: 40vh;
    border: 0.2rem solid black;
}

.photo__img:hover{
    transform: scale(1.3);
    transition: 0.5s cubic-bezier(0,1.74,1,-1.14);
}
